h1 {
    color: #003B71 !important;
    font-size: 28px !important;
}

h2 {
    color: #003B71 !important;
    font-size: 22px;
}

h3 {
    color: #003B71 !important;
    font-size: 20px;
}

figure.center-figure {
    text-align: center;
}

p {
    font-size: 0.9em; !important;
}
